.root{
    -fx-background-color: #DCDCDC;
    -fx-font-size: 11pt;
}

.label{
    -fx-font: normal bold 17px 'serif';
}

.button{
    -fx-background-color: #808080;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

